<a class="js-related-field__destroy is-first" data-method="post" data-remote="true" href="<%= lato_blog.post_fields_destroy_relay_field_path %>">
    <svg width="64" height="80" viewBox="0 0 64 80" xmlns="http://www.w3.org/2000/svg">
      <path d="M25 0c-2.692 0-5 2.143-5 5v3H4c-2.181 0-4 1.819-4 4v10c0 2.181 1.819 4 4 4h2v50c0 2.181 1.819 4 4 4h44c2.181 0 4-1.819 4-4V26h2c2.181 0 4-1.819 4-4V12c0-2.181-1.819-4-4-4H44V5c0-2.857-2.308-5-5-5H25zm0 4h14c.33 0 1 .533 1 1v3H24V5c0-.467.67-1 1-1zM4 12h56v10H4V12zm6 14h44v50H10V26zm10 8c-1.105 0-2 .895-2 2v30c0 1.105.895 2 2 2s2-.895 2-2V36c0-1.105-.895-2-2-2zm12 0c-1.105 0-2 .895-2 2v30c0 1.105.895 2 2 2s2-.895 2-2V36c0-1.105-.895-2-2-2zm12 0c-1.105 0-2 .895-2 2v30c0 1.105.895 2 2 2s2-.895 2-2V36c0-1.105-.895-2-2-2z" fill-rule="nonzero" fill="#000"/>
    </svg>
</a>