.fields-relay {
  
}

.fields-relay__sortableblock {
  @include clearfix;
}

.fields-relay__menu-container {
  margin-top: 10px;
  width: 100%;
  position: relative;
}

.fields-relay__menu-add {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  background: $color_white;
  border-radius: 50%;
  color: $color_main;
  border: 1px solid $color_main;
  cursor: pointer;
  text-align: center;
  position: relative;
  transition: all 0.3s;
  &:hover, &:focus {
    background-color: $color_main;
    color: $color_white;
  }
}

.fields-relay__menu-add-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 10;
}

.fields-relay__menu {
  display: block;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 150px;
  border: 1px solid $color_main;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  display: none;
}

.fields-relay__menu--active {
  display: block;
}

.fields-relay__menu-item {
  text-align: center;
  margin: 0;

  a {
    font-size: 0.8em;
    display: block;
    padding: 6px;
    background: $color_white;
    text-decoration: none;
    &:hover {
      background-color: $color_grey;
    }
  }
}

.js-related-field__destroy {
  position: absolute;
  top: 0;
  left: 35px;
  opacity: 0;
  width: 25px;
  height: 25px;
  background: #ecf0f1;
  border-radius: 3px;
  text-align: center;
  transition: all 0.3s;
  svg {
    display: block;
    width: 15px;
    height: 15px;
    margin: 5px auto 0 auto;
    path {
      transition: all 0.3s;
    }
  }
  &:hover {
    background-color: $color_danger;
    svg {
      path {
        fill: white;
      }
    }
  }
}

.c-sortable__element:hover {
  .js-related-field__destroy {
    opacity: 1;
  }
}