.posts__edit-status-switch, .posts__edit-change-publication-datetime {

  .elements-button {
    margin-top: 10px;
  }
}

.posts__edit-categories {
  .inputs-checkbox {
    margin: 0;
  }
}

.posts__index {
  .elements-table__row td:first-child {
    width: 60%;
  }
}