.posts__edit-categories {
  .inputs-checkbox {
    margin: 0;
    margin-bottom: 2px;
  }

  .elements-table__row {
    td:first-child {
      width: 50px;
    }
  }
}

.posts__edit-seo-description {
  textarea {
    height: 100px !important;
  }
}

.posts__index {
  .elements-table__row td:first-child {
    width: 50%;
  }

  .elements-table__row td:last-child {
    min-width: 100px;
  }
}