<div class="widgets-systeminfo">

  <%=raw cell(:elements, :title).new(label: LANGUAGES[:lato_blog][:mixed][:languages], size: 6) %>

  <% languages = CONFIGS[:lato_blog][:languages].values %>

  <% languages.each do |language| %>

    <%
      check = cookies[:lato_blog__current_language] === language[:identifier]
      style = ( check ? 'success' : '')
      icon = ( check ? 'check' : '')
    %>

    <%=raw cell(:elements, :button).new(label: language[:title], style: style, icon: icon,
    url: lato_blog.switch_current_language_path(language: language[:identifier]), remote: true) %>

  <% end %>

</div>