<div class="fields-composed <%= post_field[:meta_datas][:class] %>">

  <div class="fields-composed__label">
    <%= post_field[:meta_datas][:label] %>
  </div>

  <div class="fields-composed__fields">

    <% post_field.post_fields.where(meta_visible: true).each do |child_post_field| %>

      <%= render_post_field(child_post_field, key) %>

    <% end %>

  </div>

</div>