<%
  row = cell(:elements, :row).new
%>

<div
  class="fields__container fields-geolocalization <%= post_field.meta_datas[:class].blank? ? field_general_get_default_class : post_field.meta_datas[:class] %>"
  data-field-id="<%= post_field.id %>"
>
  
  <!-- TODO -->

</div>