<div class="fields-relay <%= post_field[:meta_datas][:class].blank? ? 'md-12' : post_field[:meta_datas][:class] %>">


  <%=raw cell(:inputs, :sortableblock).new(name: key, components: [

  ])%>

</div>